# These are the default deps, don't remove!
napari
numpy
qtpy
PyQt5
#qtbot
#pytest-qt
# <--- default

scikit-image
imageio
jsonpickle
napari
#nucleaizer_backend
git+https://github.com/etasnadi/nucleaizer_backend#egg=nucleaizer_backend
